$primary: #ee7918;
$grey: #d9d9d9;
$grey-light: #f1f1f1;
// $white: #ffffff;
$black-light: #747474;
// $black: #1d1d1d;

$black: #000e14;
$white: #cce7f5;
$graphite: #142b35;
$light-green: #9febb1;
$orange: #fbb92f;
$pink: #ff7585;
$light-pink: #e8def8;
$dark-grey: #80c3e529;
$light-grey: #cce7f573;
